<section>
    <div class="container">
        <!-- title -->
        <div class="row mb-5">
            <div class="col-md-6">
                <p class="small mb-0 text-uppercase">Starting</p>
                <h2>Home</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor facilis nemo optio possimus iusto debitis sapiente esse impedit blanditiis voluptatum eaque ipsa itaque, id nesciunt rerum doloribus maxime? Distinctio, ab!</p>
                <a href="" class="btn btn-primary">
                    let's Go ..
                </a>
            </div>
        </div>

        <!-- content -->
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center mb-5">
                    <h4>Information...</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aperiam laboriosam vero maiores! Asperiores rem accusamus earum corporis, quod dolor quo ex nesciunt nobis ipsa, quidem doloremque adipisci vitae repellendus.</p>
                </div>
            </div>

            <div class="col-md-6 offset-md-6">
                <div class="text-end mb-5">
                    <h4>More Information...</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ex voluptate voluptates aliquam voluptatem, asperiores, voluptatum expedita sapiente quam minima magni a! Consectetur, placeat? At beatae molestiae eaque necessitatibus exercitationem.</p>
                </div>
            </div>

            <div class="col-md-6 offset-md-0">
                <div class="text-start mb-5">
                    <h4>and More Information...</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ex voluptate voluptates aliquam
                        voluptatem, asperiores, voluptatum expedita sapiente quam minima magni a! Consectetur, placeat? At beatae
                        molestiae eaque necessitatibus exercitationem.</p>
                </div>
            </div>
        </div>
    </div>
</section>