<!-- content -->
<div class="row mb-5">
    <div>
        <div class="col-md-12">
            <!-- Notificaciones sobre las acciones-->
            <div class="alert alert-info">
                {{ alert }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- Formulario para editar o agregar-->
                <form class="mb-4" [formGroup]="formPost" (ngSubmit)="createPost(formPost.value)">
                    <input type="hidden" name="id" formControlName="id">
                    <div class="mb-3">
                        <label class="form-label">title</label>
                        <input type="text" class="form-control" name="title" formControlName="title">
                    </div>

                    <div class="alert alert-danger"
                        *ngIf="formPost.controls['title'].invalid && formPost.controls['title'].touched">
                        title is required.
                    </div>

                    <div class="mb-3">
                        <label class="form-label">body</label>
                        <input type="text" class="form-control" name="body" formControlName="body">
                    </div>

                    <div class="alert alert-danger"
                        *ngIf="formPost.controls['body'].invalid && formPost.controls['body'].touched">
                        title is required.
                    </div>

                    <button type="submit" class="btn btn-primary">Public</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <!-- Registros de posts -->
        <div class="card mb-4" *ngFor="let post of posts">
            <!-- Informacionde posts -->
            <div class="card-body">
                <h5 class="card-title small mb-0">{{ post.title }}</h5>
                <div class="small text-muted mb-3">
                    <div>
                        created: <span class=" small">{{ post.created_at | date:"EEEE, MMMM d, y" }}</span>
                    </div>
                    <div *ngIf="post.update_at">
                        updated: <span class="small">{{ post.update_at | date:"EEEE, MMMM d, y" }} </span>
                    </div>
                </div>
                <p class="card-text small">{{ post.body }}</p>
            </div>

            <!-- Botones de acciones -->
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                (click)="deletePost(post.id)">
                -
            </span>
            <span class="badge bg-success w-25 ms-auto mb-2 me-2" (click)="editMode(post)">Edit</span>

            <!-- Comentarios de los posts -->
            <div class="card-footer text-muted pt-4 pb-0 mb-0">
                <div class="mb-4 ps-4" *ngFor="let comment of post.comments">
                    <div class="blockquote-footer">
                        <cite class="Source Title mb-0">{{ comment.comment }}</cite>
                        <div class="small text-muted">
                            created: <span class=" small">{{ post.created_at | date:"EEEE, MMMM d, y" }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>