<section>
    <div class="container">
        <!-- title -->
        <div class="row mb-5">
            <div class="col-md-6">
                <p class="small mb-0 text-uppercase">About API post</p>
                <h2>Learning about us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt distinctio eos odit officiis nihil,
                    asperiores possimus! Ad ipsam eligendi ipsum repellat illum voluptate, ut eos. Harum esse sed
                    consectetur perspiciatis?</p>
                <a href="" class="btn btn-primary">
                    Learn about us api
                </a>
            </div>
        </div>

        <!-- Registros de posts -->
        <app-post></app-post>
    </div>
</section>